@model BookProject.ViewModels.EditBookViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Update";
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title></title>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Questrial|Droid+Sans|Alice' rel='stylesheet' type='text/css'>


    <link href="/css/forms.css" rel="stylesheet">
    <link href="/css/overwrite.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div></div>
            <img id="postcard" src="https://tse4.mm.bing.net/th/id/OIP.hckIuGpw6ntqo-3KzqD0ZgHaHz?pid=ImgDet&rs=1" alt="postcard" class="img-responsive move">
            <div id="content">

                <h1>Update @Model.Title</h1>



        <form asp-action="Update" asp-controller="Book" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label">Author</label>
                <input asp-for="AuthorId" class="form-control" />
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Cover" class="control-label">Cover</label>
                <input asp-for="Cover" class="form-control" />
                <span asp-validation-for="Cover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label">Tags</label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Book" class="btn btn-primary" />
            </div>

                    <div>
                        <a asp-action="Index">Back to List</a>
                    </div>
        </form>
    </div>
</div>
</div>
</body>
</html>

